# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pwc
*.log

# Environnements
.venv/
venv/
env/

# Secrets
.env

# Builds
build/
dist/
*.spec

# Données locales
chats.json
memory.json
uploads/

# OS
.DS_Store
Thumbs.db
